#searchDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 5px ridge red; */
    padding: 0px;
}

#searchForm {
    font-size: 30px;
    font-weight: bold;
}

#searchButton {
    font-size: 30px;
}

#searchFormControl {
    font-size: 35px;
    margin-left: 180px;
}

#searchButton {
    padding: 10px;
    margin: 20px;
}

#addToWatchlistButton {
    font-size: 30px;
    margin: 20px;
}

.submitted {
    background-color: red;
}


.search-suggestions {
  margin-top: 2rem;
  text-align: center;
}

.search-suggestions-title {
  font-weight: bold;
  color: black;
  font-family: inherit;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.search-suggestions-list {
  display: inline-block;
  text-align: left;
  color: black;
  font-family: inherit;
  font-size: 1.5rem;
  margin: 0 auto;
  padding-left: 1.5rem;
}

.search-suggestions-list li span {
  font-weight: 400;
  color: #222;
}